h1 {

    background-color: grey;
    color: whitesmoke
}

h2 {

    background-color: grey;
    color:lightblue;

}

body {

    background-color: darkgrey;

}

.box{

    background: darkgrey;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: animation_1;
    animation-duration: 12s;

}

@keyframes animation_1 {

    0% {top: 0;}
    20% {top: 75px;}
    40% {top: 250px;}
    100% {top: 500px;}

}

p {

  font-size: 28px;
  background-color: gray;
  color:lightblue;
  font-weight: bold;

}